@use "../variables";

@keyframes highlight1 {
    0% {
        background-color: none;
    }
    50% {
        background-color: rgba(variables.$blue, 0.5);
        box-shadow: 0px 0px 10px rgba(variables.$blue, 1);
    }
    100% {
        background-color: none;
    }
}

.highlight {
    border-radius: 0.25rem;
    animation: 2s highlight1 0s ease;

    &.off {
        animation-name: none;
    }
}

.main-col {
    height: "100vh";
    overflow-y: "scroll";
}

.nfo-container {
    width: fit-content;
}
