@use "../variables";

@keyframes logoFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes splashFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#splash {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 69420;
    width: 100%;
    height: 100%;
    background-color: variables.$awcy-red;
    animation: 0.5s splashFadeOut 1s forwards;

    @media (prefers-color-scheme: dark) {
        background-color: variables.$dark-red;
    }

    & > div {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        & > pre {
            color: variables.$hwite;
            font-size: 10pt;
            line-height: normal;
            user-select: none;
            overflow: hidden;
            padding: 16px;
            opacity: 0;
            animation: 0.4s logoFadeIn 0.1s forwards ease-in;

            @media (max-width: 500px) {
                font-size: 8pt;
            }
            @media (max-width: 400px) {
                font-size: 7pt;
            }
            @media (max-width: 360px) {
                font-size: 6pt;
            }
        }
    }

    &.off {
        display: none;
    }
}
