@use "../variables";

@keyframes logoFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes splashFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#splash {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 69420;
    width: 100%;
    height: 100%;
    background-color: variables.$awcy-red;
    animation: 0.5s splashFadeOut 1s forwards;

    @media (prefers-color-scheme: dark) {
        background-color: variables.$dark-red;
    }

    & > div {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & > img {
            min-height: 150px;
            height: 25%;
            max-width: 80%;
            opacity: 0;
            animation: 0.4s logoFadeIn 0.1s forwards ease-in;
        }
    }

    &.off {
        display: none;
    }
}
