// @import "bootstrap/scss/bootstrap";

@import "bootstrap-dark-5/dist/css/bootstrap-dark";

@keyframes fadeIn {
    0% {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0));
    }
    100% {
        filter: drop-shadow(0px 0px 10px #3acb);
    }
}

@keyframes darkCool {
    0% {
        filter: drop-shadow(0px 0px 10px rgba(221, 160, 46, 0.7));
    }
    33% {
        filter: drop-shadow(0px 0px 10px #3acb);
    }
    67% {
        filter: drop-shadow(0px 0px 10px rgba(128, 0, 0, 0.75));
    }
    100% {
        filter: drop-shadow(0px 0px 10px rgba(221, 160, 46, 0.7));
    }
}

@media (prefers-color-scheme: dark) {
    pre#header {
        animation: 120s darkCool 300s forwards infinite, 30s fadeIn 300s;
    }
}

@keyframes highlight1 {
    0% {
        background-color: none;
    }
    50% {
        background-color: rgba(72, 150, 202, 0.25);
        box-shadow: 0px 0px 10px rgba(72, 150, 202, 0.25);
    }
    100% {
        background-color: none;
    }
}

.highlight {
    animation: 2s highlight1 0s forwards;
    &.off {
        animation-name: none;
    }
}

pre.nfo {
    user-select: none;
    margin-bottom: 0;
    line-height: initial;
    font-family: "Courier New", monospace;
    width: fit-content;
}
