// Primary colors
$awcy-red: #a80c00;
$hwite: #f2f1f4;
$blue: #009ca8;
$black: #0d0d0d;

$green: #48A800;
$orange: #ea9010;

$dark-red: #750400;

$highlight-color: #4896ca;

$darkCoolDelay: 300s;
$darkCoolDuration: 120s;
